.twitter-profile-component {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 97%;
    height: auto;
    border-radius: 3px;
    background-color: none;
    margin-top: 8vh;
}

.twit-prof-comp-pic {
    margin-top: 12px;
    margin-bottom: 5px;
    width: 55%;
    height: auto;
    border-radius: 50%;
}

.twit-prof-comp-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    height: auto;
    background-color: none; 
    margin-left: 4%;
}

.twit-prof-names{
    margin-bottom: 10px;
}

#profile-name {
    font-size: 1.8em;
    font-family: 'Open Sans', sans-serif;
    color: black;
}

#profile-screen-name {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    color: rgb(73, 73, 73);
}

.twit-prof-desc {
    font-family: 'Roboto', sans-serif;
    line-height: 1.2em;
    font-size: 1em;
    margin-bottom: 12px;
}

.twit-prof-etc {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
    width: 100%;
}

.twit-prof-etc-div {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.twit-prof-etc-txt {
    color: rgb(73, 73, 73);
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    margin-left: 5px;
}

#twit-prof-etc-url {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    margin-left: 5px;
}