@import url('https://fonts.googleapis.com/css?family=Open+Sans:600');
@import url('https://fonts.googleapis.com/css?family=Roboto');

.App {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: rgb(39, 39, 39);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 15%;
    background-color: rgb(22, 22, 22);
    box-shadow: 0 3px 5px -2px rgb(45, 141, 214);
}

.header-title {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1.2px;
    display: flex;
    align-items: center;
    color: rgb(45, 141, 214);
    font-size: 220%;
    width: 50%;
    height: 100%;
    padding-left: 3%;
}

.header-search {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    height: 100%;
}

.TwitInput-main {
    font-family: 'Roboto', sans-serif;
    height: 40%;
    width: 45%;
    font-size: 150%;
    color: white;
    background-color: rgb(22, 22, 22);
    outline: none;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: #d41d97 solid 1px;
    caret-color: #d41d97;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    border: rgb(39, 39, 39)
}

/* Track */
::-webkit-scrollbar-track {
    background:  rgb(53, 53, 53);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(45, 141, 214);
    height: 100px;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(45, 141, 214)
}

::placeholder {
    color: rgb(245, 245, 245);;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: rgb(245, 245, 245);;
}

::-ms-input-placeholder { /* Microsoft Edge */
   color: rgb(245, 245, 245);;
}

.TweetsButton {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1.5px;
    background-color: #c82291;
    outline: none;
    width: 25%;
    height: 40%;
    border: none;
    border-radius: 3px;
    color: rgb(245, 245, 245);
    font-size: 120%;
}

.app-body {
    height: 88%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.twitter-profile-component {
    display: flex;
    justify-content: flex-start;
    background-color: #dd219e7e;
    width: 80%;
    height: 70%;
    border: none;
    border-radius: 3px;
}

.app-info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #dd219e7e;
    width: 80%;
    height: 50%;
    border: none;
    border-radius: 3px;
    padding: 3%;
}

.app-info-description {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 160%;
    line-height: 125%;
    letter-spacing: 1.5px;
}

.app-tweets {
    width: 90%;
    height: auto;
    color: rgb(84, 216, 22);
    border-bottom: white 1px solid;
    border-right: white 1px solid;
    border-left: white 1px solid;
    font-size: 18px;
}

.personality-insights-link {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: rgb(45, 141, 214);
}

.twitter-api-link{
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: rgb(45, 141, 214);
}